<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480712909105-md9dge9u2nht39ldffl0dn15lroga0qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480712909105-md9dge9u2nht39ldffl0dn15lroga0qo</string>
	<key>API_KEY</key>
	<string>AIzaSyCmot2J9i2x1fpvOjXh_LNpoCdOnQB0sv8</string>
	<key>GCM_SENDER_ID</key>
	<string>480712909105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.docebo.doceBlocks</string>
	<key>PROJECT_ID</key>
	<string>doceblock</string>
	<key>STORAGE_BUCKET</key>
	<string>doceblock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480712909105:ios:3c84f7c3c57e087a261010</string>
	<key>DATABASE_URL</key>
	<string>https://doceblock.firebaseio.com</string>
</dict>
</plist>